# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive files
*.pem
*.key
terraform-key
terraform-key.pub

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node / Strapi
node_modules/
build/
.cache/
.tmp/

# Docker
docker-compose.override.yml

